<div class="super_container">
  <div class="home" style="height: 514px">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="images/about.jpg"
         data-speed="0.8">
      <img src="assets/images/contact.jpg" alt="" height="500px" width="110%">
    </div>
    <div class="home_container">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="home_content text-center">
              <div class="home_title"><h1>Contract</h1></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="vc_empty_space" style="height: 35px"><span class="vc_empty_space_inner"></span></div>
  <div style="padding-left: 60px">
    <h2>Add new Facility</h2>
    <div id="form">
    <form [formGroup]="facilityForm" (ngSubmit)="submit()">
      <div>
        <h5 class="form-label">Type Facility</h5>
        <select formControlName="facilityType" (change)="getType($event)" class="form-control" style="width: 500px">
          <option value="Villa">Villa</option>
          <option value="Room">Room</option>
          <option value="House">House</option>
        </select>
      </div>
      <p style="color:red" *ngIf="facilityForm.controls['facilityType'].hasError('required') &&
         facilityForm.controls['facilityType'].dirty">Facility Type is required</p>

      <div>
        <h5  class="form-label">Name</h5>
        <input type="text" formControlName="name" class="form-control" style="width: 500px">
      </div>
      <p style="color:red" *ngIf="facilityForm.controls['name'].hasError('required') &&
         facilityForm.controls['name'].dirty">Facility Name is required</p>
      <div>
        <h5  class="form-label">Area</h5>
        <input type="number" formControlName="area" class="form-control" style="width: 500px">
      </div>
      <p style="color:red" *ngIf="facilityForm.controls['area'].hasError('required') &&
         facilityForm.controls['area'].dirty">Area is required</p>

      <div>
        <h5  class="form-label">Prices</h5>
        <input type="number" formControlName="cost" class="form-control" style="width: 500px">
      </div>
      <p style="color:red" *ngIf="facilityForm.controls['cost'].hasError('required') &&
         facilityForm.controls['cost'].dirty">Cost is required</p>

      <div>
        <h5  class="form-label">Number Of People</h5>
        <input type="number" formControlName="maxPeople" class="form-control" style="width: 500px">
      </div>
      <p style="color:red" *ngIf="facilityForm.controls['maxPeople'].hasError('required') &&
         facilityForm.controls['maxPeople'].touched">Cost is required</p>

      <div>
        <h5  class="form-label">Rental Type</h5>
        <select formControlName="rentType" class="form-control" style="width: 500px">
          <option value="Hours">Hours</option>
          <option value="Day">Day</option>
          <option value="Month">Month</option>
          <option value="Year">Year</option>
        </select>
      </div>
      <p style="color:red" *ngIf="facilityForm.controls['rentType'].hasError('required') &&
         facilityForm.controls['rentType'].touched">Rent Type is required</p>

      <div *ngIf="type === 'Villa' || type === 'House'" type="hidden">
        <h5  class="form-label">Room Type</h5>
        <input type="text" formControlName="standardRoom" class="form-control" style="width: 500px">
      </div>
      <p style="color:red" *ngIf="facilityForm.controls['standardRoom'].hasError('required') &&
         facilityForm.controls['standardRoom'].touched">standardRoom is required</p>

      <div *ngIf="type === 'Villa' || type === 'House'" type="hidden">
        <h5  class="form-label">Room Service Description</h5>
        <input type="text" formControlName="descriptionOtherConvenience" class="form-control" style="width: 500px">
      </div>
      <p style="color:red" *ngIf="facilityForm.controls['descriptionOtherConvenience'].hasError('required') &&
         facilityForm.controls['descriptionOtherConvenience'].touched">Description Other Convenience is required</p>

      <div *ngIf="type === 'Villa'" type="hidden">
        <h5  class="form-label">Pool Area</h5>
        <input type="number" formControlName="poolArea" class="form-control" style="width: 500px">
      </div>
      <p style="color:red" *ngIf="facilityForm.controls['poolArea'].hasError('required') &&
         facilityForm.controls['poolArea'].touched">Pool Area is required</p>

      <div *ngIf="type === 'Villa' || type === 'House'" type="hidden" >
        <h5  class="form-label">Number Of Floors</h5>
        <input type="number" formControlName="numberOfFloors" class="form-control" style="width: 500px">
      </div>
      <p style="color:red" *ngIf="facilityForm.controls['numberOfFloors'].hasError('required') &&
         facilityForm.controls['numberOfFloors'].touched">Number Of Floors is required</p>
      <div *ngIf="type === 'Room'" type="hidden">
        <h5  class="form-label">Free Facility</h5>
        <input type="text" formControlName="facilityFree" name="facilityFree" class="form-control" style="width: 500px">
      </div>
      <p style="color:red" *ngIf="facilityForm.controls['facilityFree'].hasError('required') &&
         facilityForm.controls['facilityFree'].touched">Facility Free is required</p>

      <div>
        <h5  class="form-label">Picture</h5>
        <input type="url" formControlName="image" class="form-control" style="width: 500px">
      </div>
      <div class="vc_empty_space" style="height: 35px"><span class="vc_empty_space_inner"></span></div>
    <button type="submit" class="btn btn-primary"> Save</button>
    </form>
  </div>

</div>
