
<body>
<div class="super_container">
  <div class="home">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="images/about.jpg"
         data-speed="0.8">
      <img src="assets/images/elements.jpg" alt="">
    </div>
    <div class="home_container">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="home_content text-center">
              <div class="home_title"><h1>Customer</h1></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Search Box -->

  <div class="search_box">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="search_box_container d-flex flex-row align-items-center justify-content-start"
               style="position: absolute ; top: -120px">
            <div class="search_form_container">
              <form action="#" id="search_form" class="search_form">
                <div class="d-flex flex-lg-row flex-column align-items-center justify-content-start">
                  <ul class="search_form_list d-flex flex-row align-items-center justify-content-start flex-wrap">
                    <li class="search_dropdown d-flex flex-row align-items-center justify-content-start">
                      <a style="border: none;background-color: white" routerLink="/customer/customerList">List Customer</a>
                      <i class="fa fa-chevron-down ml-auto" aria-hidden="true"></i>
                    </li>
                    <li class="search_dropdown d-flex flex-row align-items-center justify-content-start">
                      <button style="border: none;background-color: white" routerLink="/customer/createCustomer">Create Customer</button>
                      <i class="fa fa-chevron-down ml-auto" aria-hidden="true"></i>
                    </li>
                    <li class="search_dropdown d-flex flex-row align-items-center justify-content-start">
                      <button style="border: none;background-color: white">Feedback</button>
                      <i class="fa fa-chevron-down ml-auto" aria-hidden="true"></i>
                    </li>
                    <li class="search_dropdown d-flex flex-row align-items-center justify-content-start">
                      <button style="border: none;background-color: white">Contact</button>
                      <i class="fa fa-chevron-down ml-auto" aria-hidden="true"></i>
                    </li>
                    <li class="search_dropdown d-flex flex-row align-items-center justify-content-start">
                      <button style="border: none;background-color: white">Setting</button>
                      <i class="fa fa-chevron-down ml-auto" aria-hidden="true"></i>
                    </li>
                  </ul>
                  <ul>
                    <button class="search_button">search</button>
                  </ul>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Intro Right -->

  <div class="intro_right intro">
    <div class="container">
      <div class="row row-xl-eq-height">

        <!-- Intro Image -->
        <div class="col-xl-6">
          <div class="intro_image">
            <div class="background_image intro_image_background" style="background-image:url(images/intro_1.jpg)">
              <img src="assets/images/intro_1.jpg" alt="">
            </div>
          </div>
        </div>

        <!-- Intro Right Content -->
        <div class="col-xl-6 intro_right_col">
          <div class="intro_right_content">
            <div class="section_title_container text-center">
              <div class="section_title"><h1>Beach Hotel - More than a stay</h1></div>
              <div class="section_text"> In life, except for some, I will eat chocolate, I will eat it for the weekend.
                Vivamus rutrum dui fermentum eros hendrerit, id lobortis leo volutpat. Maecenas is concerned about the
                free price sometimes.
              </div>
            </div>
            <div class="intro_right_text text-center">
              In life, except for some, I will eat chocolate, I will eat it for the weekend. Vivamus rutrum dui
              fermentum eros hendrerit, id lobortis leo volutpat. Maecenas is concerned about the free price sometimes.
              I don't have a good time, and I don't have to worry about it. In life, except for some, chocolate. Vivamus
              rutrum dui fermentum eros hendrerit, id lobortis leo volutpat. Maecenas is concerned about the free price
              sometimes. I don't have a good time, and I don't have to worry about it.
            </div>
            <div class="sig text-center">
              <img src="assets/images/sig.png" alt="">
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Intro Left -->

  <div class="intro_left intro">
    <div class="container">
      <div class="row">

        <!-- Intro Left Content -->
        <div class="col-xl-6 order-xl-1 order-2">
          <div class="intro_left_content">
            <div class="section_title_container text-center">
              <div class="section_title"><h1>Amazing Facilities</h1></div>
              <div class="section_title_container text-center">
                <div lass="intro_right_text text-center"> The moment when you reach the destination of the trip,
                  see all the beautiful things that come into view. Then you will realize that all your efforts are
                  worth it
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Intro Image -->
        <div class="col-xl-6 order-xl-2 order-1">
          <div class="intro_image">

            <img src="assets/images/intro_2.jpg" alt="">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="vc_empty_space" style="height: 200px"><span class="vc_empty_space_inner"></span></div>

</body>

