<div class="text-center"><h1>Calculator</h1></div>

<table>
  <tr>
    <td>first number:</td>
    <td><input type="number" id="firstNumber" [(ngModel)]="number1"></td>
  </tr>
  <tr>
    <td></td>
<!--    <td>-->
<!--      <select>-->
<!--        <option id="sum">+</option>-->
<!--        <option id="sub">-</option>-->
<!--        <option id="multi">*</option>-->
<!--        <option id="division">/</option>-->
<!--      </select>-->
<!--    </td>-->
  </tr>
  <tr>
    <td>second number:</td>
    <td><input type="number" id="secondNumber" [(ngModel)]="number2"></td>
  </tr>
  <tr>
    <td></td>
    <td>
      <button type="button" class="btn btn-success" (click)="getValue('+')">+</button>
      <button type="button" class="btn btn-success" (click)="getValue('-')">-</button>
      <button type="button" class="btn btn-success" (click)="getValue('*')">*</button>
      <button type="button" class="btn btn-success" (click)="getValue('/')">/</button>
    </td>
  </tr>
</table>
<span><h4>Result: {{results}}</h4></span>

