<div id="footer-bottom" class="ftr-bot-black">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="copyright">
        <p>© 2018 Furama Resort Danang</p>
      </div><!-- end columns -->

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="terms">
        <ul class="list-unstyled list-inline">
          <li><a href="#">Điều khoản sử dụng</a></li>
          <li><a href="#">Chính sách bảo mật</a></li>
          <li><a href="#">Make By NTT</a></li>
        </ul>
      </div><!-- end columns -->
    </div><!-- end row -->
  </div><!-- end container -->
</div><!-- end footer-bottom -->
