<div class="super_container">
  <div class="home" style="height: 514px">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="images/about.jpg"
         data-speed="0.8">
      <img src="assets/images/contact.jpg" alt="" height="500px" width="110%">
    </div>
    <div class="home_container">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="home_content text-center">
              <div class="home_title"><h1>Contract</h1></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="vc_empty_space" style="height: 35px"><span class="vc_empty_space_inner"></span></div>
  <div style="padding-left: 100px">
    <h2>Edit  Facility</h2>
    <form [formGroup]="facilityForm" (ngSubmit)="updateFacility(id)">
      <h5>ID</h5>
      <input  formControlName="id" readonly name="id">
      <div>
        <h5 class="form-label">Type Facility</h5>
        <select name="facilityType" formControlName="facilityType" (change)="getType($event)" class="form-control" style="width: 500px">
          <option *ngFor="let item of facilityType" [value]="item.name">{{item.name}}</option>
        </select>
      </div>
      <p style="color:red" *ngIf="facilityForm.controls['facilityType'].hasError('required') &&
         facilityForm.touched">Facility Type is required</p>

      <div>
        <h5 class="form-label">Name</h5>
        <input type="text" formControlName="name" name="name" class="form-control" style="width: 500px">
      </div>
      <p style="color:red" *ngIf="facilityForm.controls['name'].hasError('required') &&
         facilityForm.controls['name'].touched">Facility Name is required</p>
      <p style="color:red" *ngIf="facilityForm.controls['name'].hasError('pattern') &&
         facilityForm.controls['name'].touched">Facility Name  must not contain number</p>
      <div>
        <h5 class="form-label">Area</h5>
        <input type="number" name="area" formControlName="area" class="form-control" style="width: 500px">
      </div>
      <p style="color:red" *ngIf="facilityForm.controls['area'].hasError('required') &&
         facilityForm.touched">Area is required</p>

      <div>
        <h5 class="form-label">Prices</h5>
        <input type="number" formControlName="cost" name="cost" class="form-control" style="width: 500px">
      </div>
      <p style="color:red" *ngIf="facilityForm.controls['cost'].hasError('required') &&
         facilityForm.touched">Cost is required</p>
      <div>
        <h5 class="form-label">Number Of People</h5>
        <input type="number" formControlName="maxPeople" name="maxPeople" class="form-control" style="width: 500px">
      </div>
      <p style="color:red" *ngIf="facilityForm.controls['maxPeople'].hasError('required') &&
         facilityForm.touched">Cost is required</p>
      <div>
        <h5 class="form-label">Rental Type</h5>
        <select formControlName="rentType"  name="rentType" class="form-control" style="width: 500px">
          <option *ngFor="let rt of rentType" [value]="rt.id">{{rt.name}}</option>
        </select>
      </div>
      <p style="color:red" *ngIf="facilityForm.controls['rentType'].hasError('required') &&
         facilityForm.touched">Rent Type is required</p>

      <div *ngIf="type === 'Villa' || type === 'House'" type="hidden">
        <h5 class="form-label">Room Type</h5>
        <input type="text" formControlName="standardRoom" name="standardRoom" class="form-control" style="width: 500px">
      </div>
      <p style="color:red" *ngIf="facilityForm.controls['standardRoom'].hasError('required') &&
         facilityForm.touched">standardRoom  is required</p>
      <div *ngIf="type === 'Villa' || type === 'House'" type="hidden">
        <h5 class="form-label">Room Service Description</h5>
        <input type="text" formControlName="descriptionOtherConvenience" class="form-control" name="descriptionOtherConvenience" style="width: 500px">
      </div>
      <p style="color:red" *ngIf="facilityForm.controls['descriptionOtherConvenience'].hasError('required') &&
         facilityForm.touched">Description Other Convenience is required</p>

      <div *ngIf="type === 'Villa'" type="hidden">
        <h5 class="form-label">Pool Area</h5>
        <input type="number" formControlName="poolArea" class="form-control" name="poolArea" style="width: 500px">
      </div>
      <p style="color:red" *ngIf="facilityForm.controls['poolArea'].hasError('required') &&
         facilityForm.touched">Pool Area is required</p>
      <p style="color:red" *ngIf="facilityForm.controls['poolArea'].hasError('pattern') &&
         facilityForm.touched">Pool Area number must be a positive integer.</p>

      <div *ngIf="type === 'Villa' || type === 'House'" type="hidden">
        <h5 class="form-label">Number Of Floors</h5>
        <input type="number" formControlName="numberOfFloors" class="form-control" name="numberOfFloors" style="width: 500px">
      </div>
      <p style="color:red" *ngIf="facilityForm.controls['numberOfFloors'].hasError('required') &&
         facilityForm.touched">Number Of Floors is required</p>
      <p style="color:red" *ngIf="facilityForm.controls['numberOfFloors'].hasError('pattern') &&
         facilityForm.touched">number Of Floors number must be a positive integer.</p>
      <div *ngIf="type === 'Room'" type="hidden">
        <h5 class="form-label">Free Facility</h5>
        <input type="text" formControlName="facilityFree" class="form-control" name="facilityFree" style="width: 500px">
      </div>
      <p style="color:red" *ngIf="facilityForm.controls['facilityFree'].hasError('required') &&
         facilityForm.touched">Facility Free is required</p>
      <div>
        <h5 class="form-label">Picture</h5>
        <input type="url" formControlName="image" class="form-control" name="image" style="width: 500px">
      </div>
      <div class="vc_empty_space" style="height: 35px"><span class="vc_empty_space_inner"></span></div>
      <button type="submit "  class="btn btn-primary">Edit</button>
    </form>
  </div>

</div>
