<div class="overlay">
  <a href="javascript:void(0)" id="close-button" class="closebtn">&times;</a>
  <div class="overlay-content">
    <div class="form-center">
      <form>
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search..." required/>
            <span class="input-group-btn"><button type="submit" class="btn"><span><i
              class="fa fa-search"></i></span></button></span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<div id="top-bar" class="tb-text-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div id="info">
          <ul class="list-unstyled list-inline">
            <li><span><i class="fa fa-map-marker"></i></span>103 – 105 Đường Võ Nguyên Giáp, Quận Ngũ
              hành
              Sơn, Đà Nẵng, Việt Nam
            </li>
            <li><span><i class="fa fa-phone"></i></span>84-236-3847 333/888</li>
          </ul>
        </div><!-- end info -->
      </div><!-- end columns -->

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div id="links">
          <ul class="list-unstyled list-inline">
            <li><a href="#"><span><i class="fa fa-lock"></i></span>Đăng nhập</a></li>
            <li><a href="#"><span><i class="fa fa-plus"></i></span>Đăng ký</a></li>
            <li>
              <form>
                <ul class="list-inline">
                  <li>
                    <div class="form-group currency">
                      <span><i class="fa fa-angle-down"></i></span>
                      <select class="form-control">
                        <option value="">$</option>
                        <option value="">£</option>
                      </select>
                    </div><!-- end form-group -->
                  </li>

                  <li>
                    <div class="form-group language">
                      <span><i class="fa fa-angle-down"></i></span>
                      <select class="form-control">
                        <option value="">VIE</option>
                        <option value="">EN</option>
                        <option value="">UR</option>
                        <option value="">FR</option>
                        <option value="">IT</option>
                      </select>
                    </div><!-- end form-group -->
                  </li>
                </ul>
              </form>
            </li>
          </ul>
        </div><!-- end links -->
      </div><!-- end columns -->
    </div><!-- end row -->
  </div><!-- end container -->
</div><!-- end top-bar -->

