
<body>
<div class="super_container">
  <div class="home">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="assets/images/contact.jpg" data-speed="0.8">
      <img src="assets/images/contact.jpg" alt="">
    </div>
    <div class="home_container">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="home_content text-center">
              <div class="home_title"><h1>Contact</h1></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="search_box " >
    <div class="container" style=" margin: 0px auto 0">
      <div class="row">
        <div class="col">
          <div class="search_box_container d-flex flex-row align-items-center justify-content-start" style="position: absolute ; top: -120px">
            <div class="search_form_container">
              <form action="#" id="search_form" class="search_form">
                <div class="d-flex flex-lg-row flex-column align-items-center justify-content-start">
                  <ul class="search_form_list d-flex flex-row align-items-center justify-content-start flex-wrap">
                    <li class="search_dropdown d-flex flex-row align-items-center justify-content-start">
                      <a style="border: none;background-color: white" routerLink="/contract/contractList">List Contract</a>
                      <i class="fa fa-chevron-down ml-auto" aria-hidden="true"></i>
                    </li>
                    <li class="search_dropdown d-flex flex-row align-items-center justify-content-start">
                      <button style="border: none;background-color: white" routerLink="/contract/createContract">Create Contract</button>
                      <i class="fa fa-chevron-down ml-auto" aria-hidden="true"></i>

                    </li>
                    <li class="search_dropdown d-flex flex-row align-items-center justify-content-start">
                      <button style="border: none;background-color: white">Feedback</button>
                      <i class="fa fa-chevron-down ml-auto" aria-hidden="true"></i>

                    </li>
                    <li class="search_dropdown d-flex flex-row align-items-center justify-content-start">
                      <button style="border: none;background-color: white">Contact</button>
                      <i class="fa fa-chevron-down ml-auto" aria-hidden="true"></i>

                    </li>
                    <li class="search_dropdown d-flex flex-row align-items-center justify-content-start">
                      <button style="border: none;background-color: white">Setting</button>
                      <i class="fa fa-chevron-down ml-auto" aria-hidden="true"></i>

                    </li>

                  </ul>
                  <ul>
                    <button class="search_button">search</button>
                  </ul>

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Contact -->

  <div class="contact_section">
    <div class="container">
      <div class="row">

        <!-- Contact Content -->
        <div class="col-lg-5">
          <div class="contact_content">
            <div class="contact_logo">
              <div class="logo">
                <a href="#">
                  <div>Furama Resort</div>
                  <div>5 * Resort</div>
                </a>
              </div>
            </div>
            <div class="contact_section_text">
              <p>In life, except for some, I will eat chocolate, I will eat it for the weekend. Vivamus rutrum dui fermentum eros hendrerit, id lobortis leo volutpat. Maecenas is concerned about the free price sometimes.</p>
            </div>
            <div class="contact_section_info">
              <ul>
                <li class="d-flex flex-row align-items-center justify-content-start">
                  <div><div class="d-flex flex-column align-items-center justify-content-center"><img src="assets/images/icon_1.png" alt=""></div></div>
                  <div>103 - 105 Vo Nguyen Giap Street,<br>
                    Khue My Ward, Ngu Hanh Son District,<br>
                    Danang City, Vietnam</div>
                </li>
                <li class="d-flex flex-row align-items-center justify-content-start">
                  <div><div class="d-flex flex-column align-items-center justify-content-center"><img src="images/icon_2.png" alt=""></div></div>
                  <div>(+84)-869940075</div>
                </li>
                <li class="d-flex flex-row align-items-center justify-content-start">
                  <div><div class="d-flex flex-column align-items-center justify-content-center"><img src="images/icon_3.png" alt=""></div></div>
                  <div>yourmail@gmail.com</div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Contact Image -->
        <div class="col-lg-7 contact_section_col">
          <div class="contact_image"><img src="assets/images/contact_image.jpg" alt="https://unsplash.com/@gabrielghnassia"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Newsletter -->

  <div class="newsletter">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="section_title_container_2">
            <div class="section_title"><h1>Our Newsletter</h1></div>
          </div>
        </div>
      </div>
      <div class="row newsletter_row">

        <!-- Newsletter Content -->
        <div class="col-lg-6">
          <div class="newsletter_content">
            <div class="newsletter_text">
              <p>In life, except for some, I will eat chocolate, I will eat it for the weekend. Vivamus rutrum dui fermentum eros hendrerit, id lobortis leo volutpat. Maecenas is concerned about the free price sometimes.</p>
            </div>
          </div>
        </div>

        <!-- Newsletter Form -->
        <div class="col-lg-6 newsletter_col">
          <form action="#" class="newsletter_form" id="newsletter_form">
            <input type="email" class="newsletter_input" placeholder="Your email" required="required">
            <button class="newsletter_button">subscribe</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Contact -->

  <div class="contact">
    <div class="container">
      <div class="row">

        <div class="col-xl-6 contact_col">
          <div class="contact_form_container">
            <div class="section_title_container_2">
              <div class="section_title"><h1>Feedback</h1></div>
              <div class="section_text">
                All your donations help us to get better</div>
            </div>
            <form action="#" class="contact_form" id="contact_form">
              <div class="row contact_row">
                <div class="col-md-6"><input type="text" class="contact_input" placeholder="Name" required="required"></div>
                <div class="col-md-6"><input type="email" class="contact_input" placeholder="E-mail" required="required"></div>
              </div>
              <div><textarea class="contact_input contact_textarea" placeholder="Message" required="required"></textarea></div>
              <button class="contact_button">send message</button>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>

</div>

</body>
