<h1>Cập nhật thông tin sản phẩm</h1>
<form [formGroup]="productForm">
  <table>
    <tr>
      <td><input type="number" hidden formControlName="id"></td>
    </tr>
    <tr>
      <td>Tên sản phẩm:</td>
      <td><input type="text" formControlName="name"></td>
    </tr>
    <tr>
      <td>Giá sản phẩm</td>
      <td><input type="number" formControlName="price"></td>
    </tr>
    <tr>
      <td>Mô tả về sản phẩm</td>
      <td><input type="text" formControlName="description"></td>
    </tr>
    <tr>
      <td>Danh mục sản phẩm:</td>
      <td>
        <select formControlName="category" [compareWith]="compareWithId">
          <option *ngFor="let item of categoryList" [ngValue]="item">{{item.name}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button type="submit" (click)="updateProduct()">Cập nhật</button>
      </td>
    </tr>
  </table>
</form>
