<div class="super_container">
  <app-header></app-header>

  <div class="home">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="/assets/index.jpg"
         data-speed="0.8">
      <img src="/assets/images/index.jpg" alt="">
    </div>
    <div class="home_container">
      <div class="container" style="margin: 50px auto;">
        <div class="row">
          <div class="col">
            <div class="home_content text-center">
              <div class="home_title"><h1>Welcome Furama Resort</h1></div>
              <div class="home_text"> THIS WORLD CLASS RESORT, FURAMA DANANG, REPUTABLE FOR BEING A CULINARY RESORT IN
                VIETNAM
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Search Box -->

  <div class="search_box">
    <div class="container" style=" margin: 100px auto 0">
      <div class="row">
        <div class="col">
          <div class="search_box_container d-flex flex-row align-items-center justify-content-start">
            <div class="search_form_container">
              <form action="#" id="search_form" class="search_form">
                <div class="d-flex flex-lg-row flex-column align-items-center justify-content-start">
                  <ul class="search_form_list d-flex flex-row align-items-center justify-content-start flex-wrap">
                    <li class="search_dropdown d-flex flex-row align-items-center justify-content-start">
                      <span>Check in</span>
                      <i class="fa fa-chevron-down ml-auto" aria-hidden="true"></i>
                      <ul>
                        <li>Check in item 1</li>
                        <li>Check in item 2</li>
                        <li>Check in item 3</li>
                        <li>Check in item 4</li>
                        <li>Check in item 5</li>
                      </ul>
                    </li>
                    <li class="search_dropdown d-flex flex-row align-items-center justify-content-start">
                      <span>Check out</span>
                      <i class="fa fa-chevron-down ml-auto" aria-hidden="true"></i>
                      <ul>
                        <li>Check out item 1</li>
                        <li>Check out item 2</li>
                        <li>Check out item 3</li>
                        <li>Check out item 4</li>
                        <li>Check out item 5</li>
                      </ul>
                    </li>
                    <li class="search_dropdown d-flex flex-row align-items-center justify-content-start">
                      <span>Guests</span>
                      <i class="fa fa-chevron-down ml-auto" aria-hidden="true"></i>
                      <ul>
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                      </ul>
                    </li>
                    <li class="search_dropdown d-flex flex-row align-items-center justify-content-start">
                      <span>Children</span>
                      <i class="fa fa-chevron-down ml-auto" aria-hidden="true"></i>
                      <ul>
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                      </ul>
                    </li>
                    <li class="search_dropdown d-flex flex-row align-items-center justify-content-start">
                      <span>Rooms</span>
                      <i class="fa fa-chevron-down ml-auto" aria-hidden="true"></i>
                      <ul>
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                      </ul>
                    </li>
                  </ul>
                  <button class="search_button">search</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Intro -->

  <div class="intro">
    <div class="container" style="margin: 50px auto;">
      <div class="row">
        <div class="col">
          <div class="section_title_container text-center">
            <div class="section_title"><h1>Beach Hotel- More than a stay</h1></div>
            <div class="section_text"> In life, except for some, I will eat chocolate, I will eat it for the weekend.
              Vivamus rutrum dui fermentum eros hendrerit, id lobortis leo volutpat. Maecenas is concerned about the
              free price sometimes.
            </div>
          </div>
        </div>
      </div>
      <div class="row intro_row">

        <!-- Intro Image -->
        <div class="col-6">
          <div class="intro_image"><img src="/assets/images/intro.jpg" alt="https://unsplash.com/@papao03"></div>
        </div>

        <!-- Intro Content -->
        <div class="col-6 intro_col">
          <div class="intro_content">
            <div class="quote"><img src="/assets/images/quote.png" alt=""></div>
            <div class="intro_text">
              <p>In life, except for some, I will eat chocolate, I will eat it for the weekend. Vivamus rutrum dui
                fermentum eros hendrerit, id lobortis leo volutpat. Maecenas is concerned about the free price
                sometimes. Vivamus rutrum dui fermentum eros hendrerit, id lobortis leo volutpat. Maecenas is concerned
                about the free price sometimes. I don't have a good time, and I don't have to worry about it.</p>
            </div>
            <div class="intro_author d-flex flex-row align-items-center justify-content-start">
              <div class="author_image"><img src="/assets/images/author_1.jpg" alt="https://unsplash.com/@onurozkardes">
              </div>
              <div class="intro_author_content">
                <div class="intro_author_name">Michael Williams</div>
                <div class="intro_author_title">client</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div  style="padding-left: 30px; " >
     <img src="assets/images/gallery_2.jpg" width="100%" height="585px">
      <div></div>
    </div>
    <div class="col-3">
      <img src="assets/images/gallery_3.jpg"  width="100%" height="585px">
    </div>
    <div class="col-3">
      <img src="assets/images/gallery_4.jpg"  width="100%"height="585px">
    </div>
    <div class="col-3" style="padding-right: 30px">
      <img src="assets/images/gallery_5.jpg"  width="100%" height="585px">
    </div>
  </div>


  <div class="newsletter">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="section_title_container_2">
            <div class="section_title"><h1>Our Newsletter</h1></div>
          </div>
        </div>
      </div>
      <div class="row newsletter_row">

        <!-- Newsletter Content -->
        <div class="col-lg-6">
          <div class="newsletter_content">
            <div class="newsletter_text">
              <p>In life, except for some, I will eat chocolate, I will eat it for the weekend. Vivamus rutrum dui
                fermentum eros hendrerit, id lobortis leo volutpat. Maecenas is concerned about the free price
                sometimes.</p>
            </div>
          </div>
        </div>

        <!-- Newsletter Form -->
        <div class="col-lg-6 newsletter_col">
          <form action="#" class="newsletter_form" id="newsletter_form">
            <input type="email" class="newsletter_input" placeholder="Your email" required="required">
            <button class="newsletter_button">subscribe</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
