<!--========================= PAGE-COVER ======================-->
<section class="page-cover back-size" id="cover-flight-grid-list">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="page-title">Danh sách các hợp đồng tháng 10/2022</h1>
        <ul class="breadcrumb">
          <li><a routerLink="/">Trang chủ</a></li>
          <li class="active">Danh sách hợp đồng</li>
        </ul>
      </div><!-- end columns -->
    </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end page-cover -->


<!--===== INNERPAGE-WRAPPER ====-->
<section class="innerpage-wrapper">
  <div id="dashboard" class="innerpage-section-padding">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="dashboard-heading">
            <h2>FURAMA <span>RESORT</span></h2>
            <p>Chào mừng bạn đến với Furama Resort Đà Nẵng!</p>
            <p>Tất cả các hợp đồng của bạn đã đặt với chúng tôi sẽ xuất hiện ở đây và bạn sẽ có thể quản lý
              mọi thứ!</p>
          </div><!-- end dashboard-heading -->

          <div class="dashboard-wrapper">
            <div class="row">

              <div class="col-xs-12 col-sm-2 col-md-2 dashboard-nav">
                <ul class="nav nav-tabs nav-stacked text-center">
                  <!--                                    		<li><a href="#"><span><i class="fa fa-cogs"></i></span>Dashboard</a></li>-->
                  <li><a routerLink="/home/contract/create"><span><i class="fa fa-user"></i></span>Thêm mới
                    hợp đồng</a></li>
                  <li class="active"><a routerLink="/home/contract"><span><i class="fa fa-briefcase"></i></span>Hợp
                    đồng</a>
                  </li>
                  <!--                                            <li><a href="#"><span><i class="fa fa-heart"></i></span>Wishlist</a></li>-->
                  <!--                                            <li><a href="#"><span><i class="fa fa-credit-card"></i></span>My Cards</a></li>-->
                </ul>
              </div><!-- end columns -->

              <div class="col-xs-12 col-sm-10 col-md-10 dashboard-content booking-trips">
                <h2 class="dash-content-title">Danh sách hợp đồng</h2>
                <div class="dashboard-listing booking-listing">
                  <div class="dash-listing-heading">
                    <div class="custom-radio">
                      <input type="radio" id="radio01" name="radio" checked/>
                      <label for="radio01"><span></span>Tất cả hợp đồng</label>
                    </div><!-- end custom-radio -->

                    <div class="custom-radio">
                      <input type="radio" id="radio02" name="radio"/>
                      <label for="radio02"><span></span>Villa</label>
                    </div><!-- end custom-radio -->

                    <div class="custom-radio">
                      <input type="radio" id="radio03" name="radio"/>
                      <label for="radio03"><span></span>House</label>
                    </div><!-- end custom-radio -->

                    <div class="custom-radio">
                      <input type="radio" id="radio04" name="radio"/>
                      <label for="radio04"><span></span>Room</label>
                    </div><!-- end custom-radio -->
                  </div>

                  <div class="table-responsive">
                    <table class="table table-hover">
                      <tbody>
                      <tr>
                        <td class="dash-list-icon booking-list-date">
                          <div class="b-date"><h3>18</h3>
                            <p>October</p></div>
                        </td>
                        <td class="dash-list-text booking-list-detail">
                          <h3>Purchase Contract / Agreement ( House )</h3>
                          <ul class="list-unstyled booking-info">
                            <li><span>SHD:</span> HDFRM-001</li>
                            <li><span>Ngày bắt đầu:</span> 01-12-2021</li>
                            <li><span>Ngày kết thúc:</span> 01-12-2021</li>
                            <li><span>Tiền đặt cọc:</span> 5000$</li>
                            <li><span>Thông tin:</span> Mr.Thanh<span class="line">|</span>thanhnt@codegym.com<span
                              class="line">|</span>0388 410 323
                            </li>
                          </ul>
                          <button class="btn btn-orange">Xem chi tiết</button>
                        </td>
                        <td class="dash-list-btn"></td>
                      </tr>


                      <tr>
                        <td class="dash-list-icon booking-list-date">
                          <div class="b-date"><h3>18</h3>
                            <p>October</p></div>
                        </td>
                        <td class="dash-list-text booking-list-detail">
                          <h3>Purchase Contract / Agreement ( Villa )</h3>
                          <ul class="list-unstyled booking-info">
                            <li><span>SHD:</span> HDFRM-002</li>
                            <li><span>Ngày bắt đầu:</span> 01-12-2021</li>
                            <li><span>Ngày kết thúc:</span> 01-12-2021</li>
                            <li><span>Tiền đặt cọc:</span> 5000$</li>
                            <li><span>Thông tin:</span> Mr.Phuc<span class="line">|</span>phucnv@codegym.com<span
                              class="line">|</span>0388 410 323
                            </li>
                          </ul>
                          <button class="btn btn-orange">Xem chi tiết</button>
                        </td>
                        <td class="dash-list-btn"></td>
                      </tr>

                      <tr>
                        <td class="dash-list-icon booking-list-date">
                          <div class="b-date"><h3>18</h3>
                            <p>October</p></div>
                        </td>
                        <td class="dash-list-text booking-list-detail">
                          <h3>Purchase Contract / Agreement ( Room )</h3>
                          <ul class="list-unstyled booking-info">
                            <li><span>SHD:</span> HDFRM-003</li>
                            <li><span>Ngày bắt đầu:</span> 01-12-2021</li>
                            <li><span>Ngày kết thúc:</span> 01-12-2021</li>
                            <li><span>Tiền đặt cọc:</span> 5000$</li>
                            <li><span>Thông tin:</span> Mr.Huan<span class="line">|</span>huannt@codegym.com<span
                              class="line">|</span>0388 410 323
                            </li>
                          </ul>
                          <button class="btn btn-orange">Xem chi tiết</button>
                        </td>
                        <td class="dash-list-btn"></td>
                      </tr>
                      </tbody>
                    </table>
                  </div><!-- end table-responsive -->
                </div><!-- end booking-listings -->

              </div><!-- end columns -->

            </div><!-- end row -->
          </div><!-- end dashboard-wrapper -->
        </div><!-- end columns -->
      </div><!-- end row -->
    </div><!-- end container -->
  </div><!-- end dashboard -->
</section><!-- end innerpage-wrapper -->


<!--========================= NEWSLETTER-1 ==========================-->
<section id="newsletter-1" class="section-padding back-size newsletter">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <h2>ĐĂNG KÝ THÔNG TIN CỦA CHÚNG TÔI</h2>
        <p>ĐĂNG KÝ ĐỂ NHẬN CÁC CẬP NHẬT QUAN TÂM CỦA CHÚNG TÔI</p>
        <form>
          <div class="form-group">
            <div class="input-group">
              <input type="email" class="form-control input-lg" placeholder="Nhập email của bạn."
                     required/>
              <span class="input-group-btn"><button class="btn btn-lg"><i
                class="fa fa-envelope"></i></button></span>
            </div>
          </div>
        </form>
      </div><!-- end columns -->
    </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end newsletter-1 -->
