<header class="header">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="header_content d-flex flex-row align-items-center justify-content-start">
          <div class="logo">
            <a href="#">
              <div>Furama Resort</div>
              <div>5 * Resort</div>
            </a>
          </div>
          <nav class="main_nav" >
            <ul class="d-flex flex-row align-items-center justify-content-start">
              <li class="active"><a href="index.html">Home</a></li>
              <li><a routerLink="/facility">Facility</a></li>
              <li><a routerLink="/customer">Customer</a></li>
              <li><a routerLink="/contract">Contact</a></li>
            </ul>
          </nav>
          <div class="header_extra d-flex flex-row align-items-center justify-content-start ml-auto">
            <div class="phone d-flex flex-row align-items-center justify-content-start"><i class="fa fa-phone" aria-hidden="true"></i><span>(+84)-869940075</span></div>
            <div class="book_button trans_200"><a href="#">Book Now</a></div>
          </div>
          <div class="hamburger ml-auto"><i class="fa fa-bars" aria-hidden="true"></i></div>
        </div>
      </div>
    </div>
  </div>
</header>
