<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <style>
        body {
            background-repeat: no-repeat;
            background-size: 100%;
            background-image: url("https://wallpapercave.com/wp/8fMMJWX.jpg")
        }
    </style>
</head>
<head th:insert="/index :: head"></head>
<body style="margin-top: 150px">
<div class="text-center text-light" style="margin-top: 200px">
    <button class="btn btn-success" style="background-color:#595C99;color: #FFFA24"><h1>Customer List</h1></button>
</div>
<div class="row" style="margin: 30px 10px">
    <div class="col-lg-3"><a th:href="@{/customer/create}" style="background-color: #22ff00">
        <button class="btn btn-primary btn-outline-secondary btn-sm" data-bs-toggle="modal">
            <span class="fa-solid fa-person-circle-plus text-light h5 my-auto me-1"></span>
            <span class="text-light">Add New Customer</span>
        </button>
    </a></div>
    <div class="col-lg-3">

    </div>
    <div class="col-lg-6">
        <form class="d-flex" role="search" action="" method="get">
            <input class="form-control me-2" type="search" placeholder="Search by name" aria-label="Search" name="name">
            <input class="form-control me-2" type="search" placeholder="Search by phone number" aria-label="Search"
                   name="phoneNumber">
            <input class="form-control me-2" type="search" placeholder="Search by address" aria-label="Search"
                   name="address">
            <button class="btn btn-outline-success" type="submit" style="background: chartreuse">Search</button>
        </form>
    </div>
</div>
<div th:if="${mess}" style="margin: 30px;width: 700px">
    <div class="justify-content-center d-flex">
        <div class="alert alert-success alert-dismissible fade show w-50 text-center">
            <strong th:text="${mess}"></strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    </div>
</div>
<table class="table table-striped table-bordered">
    <thead>
    <tr class="bg-primary text-center">
        <th>#</th>
        <th>Name</th>
        <th>Date of birth</th>
        <th>Gender</th>
        <th>Customer Type</th>
        <th>Address</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cus,customers:${customer}">
        <td th:text="${customer.number * customer.size + customers.count}"></td>
        <td th:text="${cus.name}"></td>
        <td th:text="${cus.dateOfBirth}"></td>
        <td th:switch="${cus.gender}">
            <span th:case="0">Female</span>
            <span th:case="1">Male</span>
            <span th:case="*">LGBT</span>
        </td>
        <td th:if="${cus.customerType}" th:text="${cus.customerType.name}"></td>
        <td th:unless="${cus.customerType}"></td>
        <td th:text="${cus.address}"></td>
        <td class="text-center"><a th:href="@{/customer/edit/{id}(id=${cus.id})}">
            <i class="fa-sharp fa-solid fa-pen-to-square"></i>
        </a>
        </td>
        <td class="text-center">
            <button th:attr="onclick=|deleteCustomer('${cus.id}','${cus.name}')|"
                    class="btn btn-danger btn-outline-secondary btn-sm" data-bs-toggle="modal"
                    data-bs-target="#deleteCustomer">
                <span class="fa-solid  text-light h6 m-auto px-2"><i class="fa-solid fa-delete-left"></i></span>
            </button>
        </td>


        <td class="text-center"><a th:href="@{/customer/view/{id}(id=${cus.id})}"><i
                class="fa-sharp fa-solid fa-binoculars"></i></a></td>
    </tr>
    </tbody>
</table>
<div class="row">
    <div class="col-5">

    </div>
    <div aria-label="Page navigation example" class="text-center col-2" style="overflow-x: hidden;overflow-y: hidden">
        <ul class="pagination">
            <li class="page-link"><a
                    th:href="@{'/customer'(page=${customer.number -1},name=${name},address=${address},phoneNumber=${phoneNumber})}"
                    th:if="${customer.hasPrevious()}">Previous</a></li>
            <li class="page-item">
                <a class="page-link" th:if="${customer.hasPrevious()}"
                   th:href="@{'/customer'(page=${customer.number - 1},name=${name},address=${address},phoneNumber=${phoneNumber})}"
                   th:text="${customer.number }"></a>
            </li>

            <li class="page-item active">
                <a class="page-link" th:text="${customer.number + 1}"
                   th:href="@{'/customer'(page=${customer.number},name=${name},address=${address},phoneNumber=${phoneNumber})}">
                    <span class="sr-only">(trang hiện tại)</span></a>
            </li>

            <li class="page-item">
                <a class="page-link" th:if="${customer.hasNext()}"
                   th:href="@{'/customer'(page=${customer.number + 1},name=${name},address=${address},phoneNumber=${phoneNumber})}"
                   th:text="${customer.number + 2}"></a>
            </li>
            <li class="page-item">
                <a class="page-link"
                   th:href="@{'/customer'(page=${customer.number + 1},name=${name},address=${address},phoneNumber=${phoneNumber})}"
                   th:if="${customer.hasNext()}">Next</a></li>
        </ul>
    </div>
    <div class="col-5">

    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
<script>
    function deleteCustomer(id, name) {
        document.getElementById("idDelete").value = id;
        document.getElementById("nameDelete").innerText = name;
        debugger
    }
</script>
<div class="modal fade" id="deleteCustomer" tabindex="-1" aria-labelledby="exampleModalLabel1"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style=" background-color: #bdf0fd;">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">Are you sure you want to delete?</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{/customer/delete}" method="GET">
                <div class="modal-body">
                    <span class="h6">Khách hàng:</span><strong id="nameDelete" class="text-danger ps-2"></strong>
                    <input type="hidden" name="idDelete" id="idDelete" readonly/>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger" value="delete">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

</html>