<div>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="footer_content d-flex flex-md-row flex-column align-items-center align-items-start justify-content-start">
            <div class="copyright">

              Copyright &copy;
              <br>
              103 - 105 Vo Nguyen Giap Street,<br>
              Khue My Ward, Ngu Hanh Son District,<br>
              Danang City, Vietnam

              7,0 km from Danang Airport

            </div>
            <div class="footer_logo">
              <div class="logo">
                <a href="#">
                  <div><h2>Furama Resort</h2></div>
                  <div>5 * Resort</div>
                </a>
              </div>
            </div>
            <div class="button footer_button ml-md-auto"><a href="#">book now</a></div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>

