<!--================ PAGE-COVER =================-->
<section class="page-cover" id="cover-registration">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="page-title">Cập nhập thông tin khách hàng tháng 10/2022</h1>
        <ul class="breadcrumb">
          <li><a routerLink="/">Trang chủ</a></li>
          <li class="active">Danh sách khách hàng</li>
          <li class="active">Chỉnh sửa khách hàng</li>
        </ul>
      </div><!-- end columns -->
    </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end page-cover -->


<!--===== INNERPAGE-WRAPPER ====-->
<section class="innerpage-wrapper">
  <div id="registration" class="innerpage-section-padding">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">

          <div class="flex-content">
            <div class="custom-form custom-form-fields">
              <h3>Cập nhập thông tin</h3>
              <p>Vui lòng nhập đầy đủ thông tin phía dưới</p>
              <form [formGroup]="formGroup">
                <div class="form-group">
                  <input type="text" class="form-control" formControlName="name" placeholder="Họ tên khách hàng"/>
                  <span><i class="fa fa-user"></i></span>
                  <p style="color: red"
                     *ngIf="formGroup.controls.name.hasError('required')&&formGroup.controls.name.touched">&nbsp;&nbsp;&nbsp;Tên
                    không được để trống</p>
                </div>


                <div class="form-group">
                  <input type="date" class="form-control" formControlName="birthday" placeholder="Ngày sinh"/>
                  <span><i class="fa fa-envelope"></i></span>
                  <p style="color: red"
                     *ngIf="formGroup.controls.birthday.hasError('invalid18') &&formGroup.controls.birthday.touched">
                    &nbsp;&nbsp;&nbsp;Tuổi không
                    được dưới 18</p>
                  <p style="color: red"
                     *ngIf="formGroup.controls.birthday.hasError('required') &&formGroup.controls.birthday.touched">
                    &nbsp;&nbsp;&nbsp;Ngày sinh
                    không được để trống</p>
                </div>

                <div class="form-group">
                  <input type="number" class="form-control" formControlName="idCard" placeholder="Số CMND/CCCD"/>
                  <span><i class="fa fa-envelope"></i></span>
                  <p style="color: red"
                     *ngIf="formGroup.controls.idCard.hasError('required')&&formGroup.controls.idCard.touched">
                    &nbsp;&nbsp;&nbsp;Không được để trống</p>
                  <p style="color: red"
                     *ngIf="formGroup.controls.idCard.hasError('pattern')&&formGroup.controls.idCard.touched">
                    &nbsp;&nbsp;&nbsp;Không đúng định dạng</p>
                </div>

                <div class="form-group">
                  <input type="number" class="form-control" formControlName="phone" placeholder="Số điện thoại"/>
                  <span><i class="fa fa-envelope"></i></span>
                  <p style="color: red" *ngIf="formGroup.controls.phone.hasError('required')&&formGroup.controls.phone.touched">
                    &nbsp;&nbsp;&nbsp;Không được để trống</p>
                  <p style="color: red" *ngIf="formGroup.controls.phone.hasError('pattern')&&formGroup.controls.phone.touched">
                    &nbsp;&nbsp;&nbsp;Không đúng định dạng</p>
                </div>

                <div class="form-group">
                  <input type="email" class="form-control" formControlName="email" placeholder="Email"/>
                  <span><i class="fa fa-envelope"></i></span>
                  <p style="color: red" *ngIf="formGroup.controls.email.hasError('required')&&formGroup.controls.email.touched">
                    &nbsp;&nbsp;&nbsp;Không được để trống</p>
                  <p style="color: red" *ngIf="formGroup.controls.email.hasError('email')&&formGroup.controls.email.touched">
                    &nbsp;&nbsp;&nbsp;Không đúng định dạng</p>
                </div>

                <div class="form-group">
                  <input type="text" class="form-control" formControlName="customerType"
                         placeholder="Loại khách ( Diamond, Member, Silver, ... )"/>
                  <span><i class="fa fa-envelope"></i></span>
                  <p style="color: red"
                     *ngIf="formGroup.controls.customerType.hasError('required')&&formGroup.controls.customerType.touched">&nbsp;&nbsp;&nbsp;Không
                    được để trống</p>
                </div>

                <div class="form-group">
                  <input type="text" class="form-control" formControlName="address" placeholder="Địa chỉ"/>
                  <span><i class="fa fa-envelope"></i></span>
                  <p style="color: red"
                     *ngIf="formGroup.controls.address.hasError('required')&&formGroup.controls.address.touched">&nbsp;&nbsp;&nbsp;Không được để
                    trống</p>
                  <p style="color: red"
                     *ngIf="formGroup.controls.address.hasError('pattern')&&formGroup.controls.address.touched">&nbsp;&nbsp;&nbsp;Không đúng định
                    dạng</p>
                </div>

                <button class="btn btn-orange btn-block" [disabled]="formGroup.invalid">Lưu thay đổi</button>
              </form>
            </div><!-- end custom-form -->

            <div class="flex-content-img custom-form-img">
              <img
                src="https://danangfantasticity.com/wp-content/uploads/2018/09/giai-thuong-jalpak-nhat-ban-ghi-nhan-furama-resort-danang-la-khach-san-duoc-yeu-thich-nhat-2017.jpg"
                class="img-responsive" alt="registration-img"/>
            </div><!-- end custom-form-img -->
          </div><!-- end form-content -->

        </div><!-- end columns -->
      </div><!-- end row -->
    </div><!-- end container -->
  </div><!-- end registration -->
</section><!-- end innerpage-wrapper -->


<!--======================= BEST FEATURES =====================-->
<section id="best-features" class="banner-padding black-features">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="b-feature-block">
          <span><i class="fa fa-dollar"></i></span>
          <h3>Đảm bảo giá tốt nhất</h3>
          <p>Chúng tôi sẽ đảm bảo bạn nhận được căn phòng ở mức giá thấp nhất có sẵn bất cứ nơi nào trực
            tuyến</p>
        </div><!-- end b-feature-block -->
      </div><!-- end columns -->

      <div class="col-sm-6 col-md-3">
        <div class="b-feature-block">
          <span><i class="fa fa-lock"></i></span>
          <h3>An toàn và Bảo mật</h3>
          <p>Chúng tôi bảo vệ sự riêng tư, an toàn và bảo mật cho thông tin cá nhân của bạn.</p>
        </div><!-- end b-feature-block -->
      </div><!-- end columns -->

      <div class="col-sm-6 col-md-3">
        <div class="b-feature-block">
          <span><i class="fa fa-thumbs-up"></i></span>
          <h3>Đại lý du lịch</h3>
          <p> Với phương châm đặt lợi ích của khách hàng lên hàng đầu, Furama resort Da Nang mang đến
            những
            dịch vụ tốt nhất cho các bạn</p>
        </div><!-- end b-feature-block -->
      </div><!-- end columns -->

      <div class="col-sm-6 col-md-3">
        <div class="b-feature-block">
          <span><i class="fa fa-bars"></i></span>
          <h3>Hướng dẫn du lịch</h3>
          <p>Cung cấp những tiện nghi tốt nhất cho khách du lịch của chúng tôi và chăm sóc họ chu đáo.
            Chúng
            tôi giúp họ hiểu biết về di sản và văn hóa quốc gia của chúng ta.</p>
        </div><!-- end b-feature-block -->
      </div><!-- end columns -->
    </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end best-features -->

