<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>view</title>
    <style>


         body {
             text-align: center;
             background-repeat: no-repeat;
             background-size: 100%;
             background-image: url("https://wallpapercave.com/uwp/uwp466967.jpeg")
         }


        #form {
            margin-left: 40%;
            width: 40%;

        }
    </style>
</head>
<head th:insert="/index :: head"></head>
<body style="margin-top: 150px">

<form style=" background-color: #afd3f3;" id="form">
    <div class="text-center text-light">
        <button class="btn btn-success" style="background-color:#595C99;color: #FFFA24"><h1>View Facility</h1></button>
    </div>
    <div><a th:href="@{/facility}"><i class="fa-sharp fa-solid fa-house-user"></i>Back To Facility List</a></div>
    <div id="detail">
        <div>
            <label><b>-Name Service: </b></label>
            <label th:text="${facilityList.name}"></label>
        </div>
        <div>
            <label><b>-Area:</b> </label>
            <label th:text="${facilityList.area}"></label>
        </div>
        <div>
            <label><b>-Cost: </b></label>
            <label th:text="${facilityList.cost}"></label>
        </div>
        <div>
            <label><b>-Max People: </b></label>
            <label th:text="${facilityList.maxPeople}"></label>
        </div>
        <div>
            <label><b>-Standard Room: </b></label>
            <label th:text="${facilityList.standardRoom}"></label>
        </div>
        <div>
            <label><b>-Description: </b></label>
            <label th:text="${facilityList.descriptionOtherConvenience}"></label>
        </div>
        <div>
            <label><b>-Pool Area:</b> </label>
            <label th:text="${facilityList.poulArea}"></label>
        </div>
        <div>
            <label><b>-Number Of Floor:</b> </label>
            <label th:text="${facilityList.numberOfFloors}"></label>
        </div>
        <div>
            <label><b>-Facility Free:</b></label>
            <label th:text="${facilityList.facilityFree}"></label>
        </div>
        <div>
            <label><b>-Facility Type: </b></label>
            <label th:if="${facilityList.facilityTypeS}" th:text="${facilityList.facilityTypeS.name}"></label>
            <label th:unless="${facilityList.facilityTypeS}"></label>
        </div>
        <div>
            <label><b>-Rent Type: </b></label>
            <label th:if="${facilityList.renType}" th:text="${facilityList.renType.name}"></label>
            <label th:unless="${facilityList.renType}"></label>
        </div>

    </div>
</form>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</html>